$bg-color: #eee;
$main-color: #fff;
$text-color: #333;
.profile {
  .journalsContainer {
    width: 100%;
    ul {
        height: 100%;
        @include flexColumn;
        justify-content:center;
        .journal {
            padding: 20px;
            margin: 5px;
            width: 90%;
            // aspect-ratio: auto 3/1;
            color: white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url('https://image.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg');
            // background-image: radial-gradient(transparent 80%, $color-primary), url('https://image.freepik.com/free-vector/brown-soil-texture-background_1308-20483.jpg');
            // box-shadow: 0 3px 5px rgba(0,0,0,0.05);
            // position: relative;
            // &::before, &::after {
            //   content: ""; height: 20px;
            //   position: absolute;
            //   left: 0;
            //   right: 0;
            //   clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  80%, 20% 50%, 25% 65%, 30% 0%, 35%  20%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
            //   -webkit-clip-path: polygon(0% 0%, 2% 70%, 8% 40%, 10%  80%, 20% 50%, 25% 65%, 30% 0%, 35%  20%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
            // }
            // &::before {
            //   background-color: $color-primary;
            //   top: 0;
            // }
            // &::after {
            //   background-color: $color-primary;
            //   bottom: -15px;
            // }
          }
    }
}
.journalContainer {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    justify-content: center;
    align-items: center;
    .overlayContainer {
        @include flexColumn;
        width: 80%;
        height: 50%;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        
        margin: auto;
        justify-content: center;
        background-color: #fff;
    }
}
.seek {
    display: block;
}
}
.profileContainer {
    height: 10vh;
    background-color: $color-point-2;
    color: white;
    text-shadow: 0 0 3px black;
    padding: 15px;
    position: relative;
    margin-bottom: 30px;
    .userName {
        position:absolute;
        bottom: -10px;
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 2rem;
        font-weight: bold;
    }
    .profileRight {
        position: absolute;
        right: 0;
        width: 30vw;
        .recentWater {
        
        }
        .recentMed {
        
        }
    }
      
  }
.cropTabsContainer {
  width: 100%;
  height: 200px;
  .cropTabs {
    width: 95%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    .cropTab {
      width: 20%;
      text-align: center;
      padding: 9px;
      border-bottom: 5px solid transparent;
      &.active {
        text-shadow: 1px 1px 10px yellow;
        p {
          font-weight: bold;
        }
      }
      &:hover {
        cursor: pointer;
        border-bottom: 5px solid $color-point-2;
      }
    }
  }

  .notis {
    margin: 10px auto;
    padding: 10px 0;
    border: 2px solid transparent;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    p {
      &.warning {
        @include alertDiv(rgb(220, 17, 1));
        &::before {
          content: '★';
          color: rgba(220, 17, 1, 0.95);
          margin-right: 5px;
        }
        
      }
      &.news {
        @include alertDiv(rgb(241, 142, 1));
          &::before {
          content: '※';
          color: rgba(241, 142, 6, 0.99);
          margin-right: 5px;
        }
      }

    }
  }
  &:hover .notis {
    border-color: $color-point-2;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container {
      width: 90%;
      height: 90%;
      background-color: white;
      .title {
        
      }
      .main {
        
      }
      .footer {
        
        .download {
          
        }
        .close {
          
        }
      }
    }
  }

}