$bdrds: 3px;

$white: #fff;
$black: #000;
$gray: #ccc;
$salmon: #e8716d;
$color-primary: #faf4e0;
$color-point-1: #e9c433;
$color-point-2: #15590b;
$color-item: #2B2D42;
$color-unique: #E61F62;
$color-dirt: rgb(106, 43, 10);
$color-grass: #448815;
$color-sky: #e1fdfe;
$color-alert: rgba(172, 4, 4, 0.803);
$color-alert-2: rgba(149, 248, 255, 0.699);
$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$smoky-black: rgba(#222222, .85);
$font: 1em;
$font-nav: 1.3em;
$font-large: 3em;
$ff: 'Montserrat', sans-serif;
$ff-body: 20px;
$ff-light: 300;
$ff-regular: 400;
$ff-medium: 500;

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

@mixin gradient($first, $second) {
  background: linear-gradient($color-grass $first, $color-primary $second);
}
@mixin flexRow {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin basicDiv {
  border-radius: 10px;
  padding: 10px 15px;
  margin: 5px;
}

@mixin halfDiv {
  display: inline-block;
  height: 50vh;
  // border: 1px dashed green;
}

@mixin alertDiv($color) {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 90%;
  background: rgba($color,0.2);
  border: 1px solid $color;
}

@keyframes pulse {
  100% { color: darken($color-point-1, 30%); box-shadow: 0 0 0 0 $color-point-1; }
  }

* {
    margin: 0;
    padding: 0;
    border-width: 0;
  }

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
  //   font-size: 50%;
  }
}

body {
  background-color: $color-primary;
  // font-size: 1.1rem !important;
  font-size: $ff-body;
  font-family: 'BMEuljiro10yearslater';
}

li {
  list-style: none;
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
  &:visited {
    color: black;
  }
  &:hover {
    color: darken($color-point-2, 15%);
  }
}


header {
  padding: 40px 20px 20px 20px;
  background: $color-sky no-repeat center/cover url('@/assets/grass_ground.png');
  border-bottom: 1px solid $color-grass;
  .title {
    width: 250px;
    padding: 10px 10px 10px 20px;
    font-size: $font-large;
    background-color: rgba(#fff, 0.6);
    border-radius: 30px;
    &:hover {
      text-shadow: 0px 0px 10px #fff;
    }
  }
  #nav {
    background-color: rgba(#fff, 0.7);
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    top: 70px;
    right: 30px;
    font-size: $font-nav;
    text-shadow: 0px 0px 1px #fff;
    a {
      padding: 10px;
      &:hover {
        color: black;
        font-weight: bolder;
        text-shadow: 0px 0px 10px #fff;
    }
    }
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  
  background-color: $color-grey-light-1;
  
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  &:hover {
    border-color: #888;
  }
  &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  &:disabled {
    opacity: 0.5;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 90%;
    height: 90%;
    background-color: white;
    overflow: auto;
    position: relative;
    .title {
      
    }
    .main {
      padding: 20px;
    }
    .footer {
      width: 100%;
      .close {
        position: relative;
        bottom: 0;
        left: 45%;
        font-family: 'BMEuljiro10yearslater';
        width: 70px;
        margin: 10px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid black;
        &:hover, 
        &:focus {
          border-color: $color-alert;
          animation: pulse 1s;
          box-shadow: 0 0 0 1em rgba(#fff,0);
      }
    }
  }
}
}

