.home {
    padding: 20px;
    @include gradient(1%, 15%);
}

.searchContainer {    
    @include flexRow;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    form {
        @include flexRow;
        width: 100%;
    }
    select {
        height: 40px;
        text-align-last: center;
        text-align: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
     }
    #searchCategory {
        width: 10%;
    }
    #searchKeyword {
        width: 30%;
    }
    .searchBtn {
        // @include basicDiv;
        padding: 0;
        width: 80px;
        height: 40px;
        margin-left: 10px;
        background: #fff;
        border-radius: 5px;
        position: relative;
        &:hover {
            background: $color-grey-light-1;
        }
    }
    .pulse:hover, 
    .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 1em rgba(#fff,0);
    }

    
}


